
PLUGINS occupancy_online,RSAI_KO
NTHREADS 8
EVIO:NTHREADS 16

# RSAI:POLL_DELAY sets sleep time in seconds for each
# iteration of loop over macros. This should be tuned
# to make sure they are all executed often enough to
# have close to the minimum statistics the macro wants
# per plot.
RSAI:POLL_DELAY 10

# RSAI:OUTPUT_DIR sets the name of the directory where 
# the image files will be written. The directory will
# be created if it doesn't already exist.
RSAI:OUTPUT_DIR images

# RSAI:MIN_EVENTS_RSAI sets a scale for macros to use
# as the minimum number of events to collect before
# emitting an image. Most macros just use this for the
# number. Others (e.g. CDC_occupancy) use a multiple
# of this. Macros are also not required to use it at
# all.
# WARNING: This value also exists in the RootSpy system
# and if you generate images with a different number here,
# the trained model may not be compatible with the images
# being produced by the deployed system!
#RSAI:MIN_EVENTS_RSAI 1.0E5

# ---- CDC ---------------
DEFTAG:DCDCDigiHit KO
KO:CDC_I1 0.02
KO:CDC_I26 0.02
