PLUGINS ReactionFilter #We want to run this plugin only


PLUGINS ReactionFilter #We want to run this plugin only

# X->pi0pi0pi0, pi0->gg, without constraints:

#i) Just a P4-fit:
#***********************************
Reaction1 1_14__7_7_7_14
Reaction1:Decay1 7__1_1
Reaction1:Decay2 7__1_1
Reaction1:Decay3 7__1_1
Reaction1:Flags F1_M7
Reaction1:Name 6G_P4
#***********************************

#ii) P4 and Vertex fit:
#***********************************
Reaction2 1_14__7_7_7_14
Reaction2:Decay1 7__1_1
Reaction2:Decay2 7__1_1
Reaction2:Decay3 7__1_1
Reaction2:Flags F4_M7
Reaction2:Name 6G_P4Vertex
#***********************************

#Same as above, but with constraint:

#iii) Just a P4-fit:
#***********************************
Reaction3 1_14__7_7_7_14
Reaction3:Decay1 7__1_1
Reaction3:Decay2 7__1_1
Reaction3:Decay3 7__1_1
Reaction3:Flags F1
Reaction3:Name 6G_Pi0C_P4
#***********************************

#iv) P4 and Vertex fit:
#***********************************
Reaction4 1_14__7_7_7_14
Reaction4:Decay1 7__1_1
Reaction4:Decay2 7__1_1
Reaction4:Decay3 7__1_1
Reaction4:Flags F4_M7
Reaction4:Name 6G_PiC_P4Vertex
#***********************************


# X->pi+ pi- gg:

#i) Just a P4-fit:
#***********************************
Reaction5 1_14__8_9_1_1_14
Reaction5:Flags F1
Reaction5:Name PipPimGG_P4
#***********************************

#ii) Aa P4 and Vertex sfit:
#***********************************
Reaction6 1_14__8_9_1_1_14
Reaction6:Flags F4
Reaction6:Name PipPimGG_P4Vertex
#***********************************

#iii) Just a Vertex-fit:
#***********************************
Reaction7 1_14__8_9_1_1_14
Reaction7:Flags F2
Reaction7:Name PipPimGG_Vertex
#***********************************


# X->pi+ pi- pi0, with constraint on pi0:

#iv) Just a P4-fit:
#***********************************
Reaction8 1_14__8_9_7_14
Reaction8:Decay1 7__1_1
Reaction8:Flags F1
Reaction8:Name PipPimPi0_Pi0C_P4
#***********************************

#v) Aa P4 and Vertex sfit:
#***********************************
Reaction9 1_14__8_9_7_14
Reaction9:Decay1 7__1_1
Reaction9:Flags F4
Reaction9:Name PipPimPi0_Pi0C_P4Vertex
#***********************************

#vi) Just a Vertex-fit:
#***********************************
Reaction10 1_14__8_9_7_14
Reaction10:Decay1 7__1_1
Reaction10:Flags F2
Reaction10:Name PipPimPi0_Pi0C_Vertex
#***********************************


# X->pi+ pi-

#i) Just a P4-fit:
#***********************************
Reaction11 1_14__8_9_14
Reaction11:Flags F1
Reaction11:Name PipPim_P4
#***********************************

#ii) Aa P4 and Vertex sfit:
#***********************************
Reaction12 1_14__8_9_14
Reaction12:Flags F4
Reaction12:Name PipPim_P4Vertex
#***********************************

#iii) Just a Vertex-fit:
#***********************************
Reaction13 1_14__8_9_14
Reaction13:Flags F2
Reaction13:Name PipPim_Vertex
#***********************************





